*{
margin: 0;
padding: 0;
box-sizing: border-box;
justify-content:center;
}
.main{background:rgb(87, 143, 218);
    padding:40px;
    border:2px solid black;
    width:620px;
    position: absolute;
    top:30%;
    left:30%;
}
.h{
    position:relative;
    margin:10px;
}